:root {
  --article-max-width: 40rem;
}

html {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.4;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
    color: #FFFFFF;
  }
}

.need-light-background {
  background-color: #FFFFFF;
}

body{
  margin:1.2em;
  font-size:1rem;
}

header, main {	
  max-width: var(--article-max-width);	
  margin: 0 auto;	
}

header {
  margin-bottom: 3em;
}

img, picture, iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

img, picture {
  height: auto;
}

iframe {
  width: 100%;
}

ul, ol{
  margin-top:0;
  padding-top:0;
  padding-left:2em;
}

h1{
  font-size: 2.5em;
}
  
h2{
  font-size: 1.75em;
}

h3{
  font-size: 1.25em;
}

a{
  color:#0064c1;
}
a:visited{
  color:#8d39d0;
}
a:hover, a:active{
  outline-width:0;
}
a:hover{
  color:#f00000;
}
@media (prefers-color-scheme: dark) {
  a{
    color: hsla(209, 100%, 85%, 1);
  }
  a:visited{
    color: hsla(273, 62%, 85%, 1);
  }
}


h1 a, h2 a, h3 a,
h1 a:visited, h2 a:visited, h3 a:visited {
  color: #000000;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  h1 a, h2 a, h3 a,
  h1 a:visited, h2 a:visited, h3 a:visited {
    color: #FFFFFF;
  }
}

h1 a:hover, h2 a:hover, h3 a:hover {
  color: #444444;
}

figure{
  margin:1em 0 0.5em;
  padding:0;
}

figure figcaption{
  opacity:0.65;
  font-size:0.85em;
  text-align: center
}

figure.gallery{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

figure.gallery img{
  max-width: calc(var(--article-max-width) / 3);
}

code, kbd, var, samp{
  font-family:Consolas, "Lucida Console", Monaco, monospace;
  font-style:normal;
}

pre{
  overflow-x:auto;
  font-size:0.8em;
  background:linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
  background-attachment:scroll, scroll;
  background-size:1px 100%, 1px 100%;
  background-repeat:no-repeat, no-repeat;
}

pre > code{
  display:inline-block;
  overflow-x:visible;
  box-sizing:border-box;
  min-width:100%;
  border-right:3px solid white;
  border-left:1px solid white;
}
